@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  background-image: url("/bg2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  backdrop-filter: blur(50px);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
}

.shadow {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
}

.light-shadow {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
}

.bg-gradient {
  background: rgb(255, 179, 198);
  background: linear-gradient(103deg, rgba(255, 179, 198, 0.8) 0%, rgba(255, 194, 209, 0.4) 100%);
}

.text-gradient {
  background: rgb(255, 28, 85);
  background: linear-gradient(103deg, rgba(255, 28, 85, 1) 0%, rgb(252, 171, 194) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-btn {
  background-color: #FB6F92;
  font-family: 'Poppins', sans-serif;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
}

.pink-outline-btn {
  background-color: transparent;
  border: 2px solid #FB6F92;
  font-family: 'Poppins', sans-serif;
  border-radius: 100px;
  color: black;
  cursor: pointer;
  padding: 8px 16px;
}

.pink-glow {
  transition: ease-in-out 300ms;
}

.pink-glow:hover {
  box-shadow: 0 0 15px #fb6f9281;
}

.pink-stroke {
  border: 1px solid #FFB3C6;
}

#paint-pallete {
  width: 300px;
  height: auto;
  position: relative;
  right: -60px;
  bottom: 30px;
}

.light-pink-gradient {
  background: rgb(255,194,209);
background: linear-gradient(103deg, rgba(255, 194, 209, 0.612) 0%, rgba(255, 179, 198, 0.461) 100%);
}

.pink-shadow {
  box-shadow: 0 0 200px 10px #fd6fff86;
}

.animSlideFromTop {
  opacity: 0;
  animation: slideFromTop 1.5s forwards;
}

.animSlideFromLeft {
  opacity: 0;
  animation: slideFromLeft 1.5s 0.75s forwards;
}

.animSlideFromRight {
  opacity: 0;
  animation: slideFromRight 1.5s 1.5s forwards;
}

.autoShow {
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100px) scale(0.2);
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-1000px) scale(0.2);
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(1000px) scale(0.2);
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}
